<form class="form-horizontal"
	ng-submit="executeRequest({
           'temperature': temperature,
           'rainfall': rainfall,
           'humidity': humidity,
           'snowCover': snowCover,
           'windSpeed': windSpeed,
           'latitude': latitude,
           'longitude': longitude,
           'date': date
      })">

	<div class="col-sm-8" style="align: left">

		<div class="form-group">
			<label class="col-sm-2 control-label">Температура:</label>
			<div class="col-sm-9">
				<input type="number" class="form-control" name="temperature"
					placeholder="Температура" ng-model="temperature">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Валежи:</label>
			<div class="col-sm-9">
				<input type="number" class="form-control" name="rainfall"
					placeholder="Валежи в кв. сантиметри" ng-model="rainfall">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Влажност:</label>
			<div class="col-sm-9">
				<input type="number" class="form-control" name="humidity"
					placeholder="Влажност в г/куб.м" ng-model="humidity">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Снежна покривка:</label>
			<div class="col-sm-9">
				<input type="number" class="form-control" name="snowCover"
					placeholder="Снежна покривка в сантиметри" ng-model="snowCover">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Скорост на вятъра:</label>
			<div class="col-sm-9">
				<input type="number" class="form-control" name="windSpeed"
					placeholder="Скорост в км/ч" ng-model="windSpeed">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Latitude:</label>
			<div class="col-sm-9">
				<input type="number" class="form-control" name="date"
					placeholder="Географска ширина" ng-model="googleMap.center.latitude">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Longitude:</label>
			<div class="col-sm-9">
				<input type="number" class="form-control" name="date"
					placeholder="Географска дължина" ng-model="googleMap.center.longitude">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Дата:</label>
			<div class="col-sm-9">
				<input type="date" class="form-control" name="date"
					placeholder="Дата" ng-model="date">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-5 col-sm-2">
				<button type="submit" class="btn btn-default"
					style='min-width: 200px;'>{{ buttonText }}</button>
			</div>
		</div>

	</div>
	
	<div class="col-sm-4" style="align: right;">
		<ui-gmap-google-map center='googleMap.center' zoom='googleMap.zoom'></ui-gmap-google-map>
	</div>
</form>